.post{
    width: 40%;
    height: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

body {background-color:black;}

.divs{
    float: left;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 9px;
}

.divs1{
    margin-left: 1%;
    float: left;
    width: 5%;
    margin-top: 10px;
}

.divs2{
    float: left;
    width: 8%;
}

.divs3{
    position: relative;
    float: right;
    margin-right: 4%;
    margin-top: 10px;
}

.divi{
    float: left;
    width: 100%;
    margin-top: 3px;
}

.divi0{
    margin-left: 1%;
    float: left;
    width: 5%;
}

.divi01{
    margin-left: 1%;
    float: left;
    width: 5%;
}

.divi02{
    margin-left: 1%;
    float: left;
    width: 5%;
}
.divi03{
    position: relative;
    float: right;
    margin-right: 4%;
}
.divi1{
    margin-left: 1%;
    position: absolute;
}
.div_like {
    padding: 2%;

}
.div_text {
    padding: 2%;
    text-align:justify;
    
}